# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Cache
.pnpm-store/
.npm/
.yarn/

# Builds
dist/
build/

# Arquivos temporários
*.tmp
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db
